.container {
    --container-width: 1180px;
    --container-padding-size: 24px;

    margin: 0 auto;
    padding-left: var(--container-padding-size);
    padding-right: var(--container-padding-size);
    width: 100%;
    max-width: calc(var(--container-width) + var(--container-padding-size) * 2);
    @include tablet {
        --container-padding-size: 36px;
    }
    @include mobile {
        --container-padding-size: 24px;
    }
}
.container-lg {
    @extend .container;
    --container-width: 1344px;
}
