* {
    box-sizing: border-box;
}

html {
    font-family: $primary-font-family;
    font-size: 18px;

    @include tablet {
        font-size: 18px;
    }

    @include mobile {
        font-size: 14px;
    }
}


button {
    outline: none;
    border: none;
}

a {
    text-decoration: none;
}