$primary-font-family: 'ProximaNova';

$color-black: #000000;
$color-dark: rgba(0, 0, 0, 0.6);
$color-gray: #F5F5F5;
$color-white: #FFFFFF;
$color-red: #E40000;


$box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);