.banner {
    background-color: $color-gray;
    // .banner__wrapper

    &__wrapper {
        @extend .container;
        
    }

    &__content {
        padding: 20px 0 30px;
        position: relative;
        @include tablet {
            padding: 15px 0 20px;
        }
        @include mobile { 
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 10px 0 0;
        }
    }

    // .banner__title

    &__title {
        @extend .title-xl-b;
        padding-bottom: 10px;
        margin: 0;
        @include tablet {
            padding-bottom: 0;
        }
    }

    // .banner__description

    &__description {
        @extend .title-md-r;
        display: inline-block;
        max-width: 529px;
        color: $color-dark;
        @include tablet {
            max-width: 353px;
        }
        @include mobile { 
            text-align: center ;
            width: 100%;
        }
    }

    // .banner__images

    &__images {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 440px;
        @include tablet {
            width: 240px;
        }
        @include mobile { 
            position: relative;
        }
    }
}
