.hero {
    // .hero__wrapper
    @extend .container;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 135px;
        padding-top: 107px;
        padding-bottom: 62px;
        padding-left: 50px;
        padding-right: 50px;

        @include tablet {
            gap: 40px;
            padding-top: 40px;
            padding-left: 0;
            padding-right: 0;
            padding-bottom: 40px;
        }

        @include mobile {
            flex-direction: column;
            padding-top: 20px;
            gap: 25px;
        }
    }
}
.hero-step {
    display: grid;
    gap: 76px;

    @include mobile {
        width: 100%;
        justify-content: space-between;
        display: flex;
        gap: 0;
    }

    // .hero-step__item

    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 36px;
        height: 36px;
        background-color: #dddddd;
        border-radius: 100%;
        position: relative;

        @include mobile {
            width: 22px;
            height: 22px;
        }

        &:not(:first-child)::before {
            content: '';
            width: 2px;
            height: 76px;
            bottom: 36px;
            background-color: #dddddd;
            position: absolute;

            @include mobile {
                height: 2px;
                width: 100%;
                left: 0;
                right: 0;
                bottom: 10px;
            }
        }

        span {
            @extend .title-sm-r;
            color: $color-white;
        }
    }

    // .hero-step__item-active

    &__item-active {
        background-color: $color-primary;
        position: relative;

        // &:not(:last-child)::before {
        //     background-color: $color-primary;
        // }

        &::after {
            content: '';
            position: absolute;
            width: 48px;
            height: 48px;
            border-radius: 100%;
            border: 2px solid $color-primary;
            z-index: 20;

            @include mobile {
                width: 30px;
                height: 30px;
            }
        }
    }

    &__item-lastactive {
        background-color: $color-primary;
    }
}

.hero-content {
    display: grid;
    grid-template-columns: 480px 477px;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 23px;

    @include tablet {
        grid-template-columns: 334px 243px;
    }

    @include mobile {
        grid-template-columns: none;
        flex-direction: column;
    }

    // .hero-content__body

    &__body {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    // .hero-content__step

    &__step {
        @extend .title-xl-b;
        padding-bottom: 40px;
        color: $color-dark;
        @include tablet {
            padding-bottom: 10px;
        }

        @include mobile {
            padding-bottom: 15px;
        }
    }

    // .hero-content__title

    &__title {
        @extend .title-xl-b;
        padding-bottom: 20px;
        @include tablet {
            padding-bottom: 10px;
        }
    }

    // .hero-content__description

    &__description {
        @extend .title-sm-r;
        padding-bottom: 40px;
        color: $color-dark;

        @include tablet {
            padding-bottom: 10px;
        }
        @include mobile {
            padding-bottom: 15px;
        }

        &--number {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        &--item {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 15px;
        }
    }

    // .hero-content__images

    &__images {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 100%;
            object-fit: cover;
        }

        @include mobile {
            display: none;
            img {
                width: 100%;
                object-fit: cover;
            }
        }

        &--light {
            opacity: 0.3;
        }

        &--show {
            display: block;
        }
    }

    &__button {
        width: 100%;
    }

    &__btn {
        @extend .btn;
        @extend .btn__color--dark;
        @extend .btn__type--rectangle;
        @extend .title-sm-b;
        text-transform: uppercase;
        padding: 19px 0;
        @include mobile {
            padding: 12px 0;
        }

        &--double {
            padding: 19px 0;
        }

        &--icon {
            display: flex;
            flex-direction: row;

            svg {
                width: 22px;
                height: 20px;
            }
        }
    }

    &__arrow {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: -130px;
        right: 35%;

        @include mobile {
            transform: scale(-1, 1);
            width: 115px;
        }

        span {
            @extend .title-md-b;
            position: absolute;
            top: 40px;
            color: $color-red;
            @include mobile {
                transform: scale(-1, 1);
                bottom: 0;
            }
        }
    }

    &__button {
        display: flex;
    }
}

.curcle-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

// .hero-step__item-active + .hero-step__item::before {
//     background-color: $primary-color;
// }