.product {
    padding-top: 50px;

    @include tablet {
        padding-top: 40px;
    }
    @include mobile {
        padding-top: 20px;
    }

    // .product__content

    &__content {
        @extend .container;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: flex-start;
        grid-template-rows: 100%;
        gap: 50px;

        @include tablet {
            gap: 40px;
        }
        @include mobile {
            grid-template-columns: 100%;
            grid-template-rows: auto;
            gap: 25px;
        }
    }

    // .product__block

    &__block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px;
        background-color: $color-white;
        box-shadow: $box-shadow;
        width: 650px;
        height: 560px;
        @include tablet {
            padding: 17px;
            width: 354px;
            height: 300px;
        }
        @include mobile {
            padding: 12px;
            width: 100%;
            height: 256px;
        }
    }

    // .product__carousel

    &__carousel {
    }

    // .product__picture

    &__picture {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    // .product__info

    &__info {
        padding-top: 10px;

    @include mobile {
            padding-top: 0;
        }
    }

    // .product__head

    &__head {
        padding-bottom: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include tablet {
            padding-bottom: 27px;
        }
        @include mobile {
            padding-bottom: 10px;
        }
    }

    // .product__tag

    &__tag {
        @extend .title-sm-b;
        text-transform: uppercase;
    }

    // .product__rating

    &__rating {
        span {
            @extend .title-sm-r;
            padding-left: 10px;
            color: $color-dark;
        }
        &-item {
            width: 16px;
            height: 16px;
            @include tablet {
                width: 12px;
                height: 12px;
            }
        }
    }

    // .product__body

    &__body {
        padding-bottom: 30px;
        @include tablet {
            padding-bottom: 15px;
        }
        @include mobile {
            padding-bottom: 20px;
        }
    }

    // .product__title

    &__title {
        @extend .title-lg-b;
        margin: 0;
        @include tablet {
            max-width: 300px;
        }
    }

    // .product__description

    &__description {
        padding-top: 20px;
        padding-bottom: 30px;
        max-width: 380px;

        span {
            @extend .title-sm-b;
        }

        @include tablet {
            padding-top: 10px;
            padding-bottom: 15px;
            width: 294px;
        }
        @include mobile { 
            padding-top: 15px;
            padding-bottom: 20px;
            width: 100%;
        }
    }

    // .product__description-txt

    &__description-txt {
        @extend .title-sm-r;
        padding-top: 6px;
        color: $color-dark;
        @include tablet {
            padding-top: 0;
        }
    }

    // .product__marker

    &__marker {
        display: inline-flex;
        padding: 5px 10px;
        background-color: $color-red;
        border-radius: 5px;

        span {
            @extend .title-sm-b;
            text-transform: uppercase;
            color: $color-white;
        }
    }

    // .product__bottom

    &__bottom {
        padding-top: 20px;
        @include tablet {
            padding-top: 15px;
        }
    }

    // .product__price

    &__price-block {
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        padding-bottom: 20px;
        @include tablet {
            padding-bottom: 15px;
        }

        span {
            @extend .title-sm-r;
            color: $color-dark;
            text-transform: uppercase;
        }
    }

    &__price {
        @extend .title-lg-b;
        padding-left: 10px;
    }

    // .product__btn-added

    &__btn-added {
        padding-bottom: 40px;
        width: 380px;
        button {
            @extend .title-lg-b;
            width: 100%;
            padding: 19px 0;
            text-transform: uppercase;
            background-color: $color-black;
            color: $color-white;
            border-radius: 5px;
        }

        @include tablet {
            padding-bottom: 20px;
            width: 294px;
        }
        @include mobile {
            
            width: 100%;
        }
    }

    // .product__logo

    &__logo {
        display: flex;
        justify-content: center;
        width: 380px;

        @include mobile {
            width: 100%;
        }
        &-icon {
        }
    }
}

.divider {
    width: 380px;
    @include tablet {
        width: 294px;
    }
    @include mobile {
        width: 100%;
    }
}
